html, body, main, div, span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

html, body, main {
  height: 100%;
}

body { background-color: whiteSmoke; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  width: 96%;
  text-align: center;
}

.grid span {
  display: block;
  font: 400 1.6rem/7.2rem monospace;
  /* font-stretch: condensed; */
}
